page-user-ranking {

  .posicao1
  {
    margin-left: 40%;
    position: absolute;
    margin-top:40%;
    color: white;
  }
  .posicao2
  {
    margin-left: 13%;
    position: absolute;
    margin-top: 50%;
    color: white;
  }
  .posicao3
  {
    margin-left: 65%;
    position: absolute;
    margin-top: 55%;
    color: white;
  }
}
