page-admin-cadastrar-atividade {

    .border-bottom{
        border-bottom: 2px solid aqua;
    }

    textarea.text-input{
      border-bottom: 2px solid aqua;
    }

    .distancia-top{
      margin-top: 10%
    }

}
