<ion-content>
  <ion-header>
      <ion-navbar>
        <ion-title>Cadastro Grupos</ion-title>
      </ion-navbar>
    </ion-header>
  <ion-card style="border: solid 1px silver; border-radius: 15px; padding: 30px; margin-top: 20%;">
    <div align="center">
      <h1 style="font-family: KG Second Chances Sketch !important; font-size: 30px; color:rgb(112, 23, 97);">Cadastre o Grupo</h1>
    </div>

    <div *ngIf="primieraParte">
      <ion-grid class="distancia-top">
        <ion-row>
          <ion-col>
            <ion-input  class="border-bottom" placeholder="Codigo da atividade" type="text" [(ngModel)]="codigoAtividade" name="Digite o codigo da atividade" ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input  class="border-bottom" placeholder="Nome do grupo" type="text" [(ngModel)]="nomeGrupo" name="Digite o nome do grupo" ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div    style="margin-top: 15px" align="center">
        <button style="background-color: rgb(112, 23, 97)" ion-button secondary (click)="onProximoPassoIntegrantes()">Proximo passo<ion-icon style="margin-left:15px;" name="md-fastforward"></ion-icon></button>
      </div>
    </div>

    <div *ngIf="parteIntegrantes">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input  class="border-bottom" placeholder="Nome" type="text" [(ngModel)]="nomeIntegrante" name="Digite seu nome" required="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input  class="border-bottom" placeholder="Email" type="text" [(ngModel)]="emailIntegrante" name="Digite seu email" required="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input  class="border-bottom" placeholder="RA" type="text" [(ngModel)]="raIntegrante" name="Digite seu ra" required="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-row>
            <ion-col>
                <button style="background-color: rgb(112, 23, 97); float:right;" ion-button secondary (click)="adicionaIntegrantes()"><ion-icon name="add-circle"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-row>
        <ion-row>
          <ion-col size="2" offset="1">
            <button style="background-color: rgb(112, 23, 97); float:right; margin-left: 50%;" ion-button (click)="finalizaCadastro()" >Concluir cadastro<ion-icon small style="margin-left:15px;" name="md-checkmark"></ion-icon></button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>




  </ion-card>
</ion-content>
